body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #555;
    color: white;
    font-size: 18pt;
}

.navbar {
    background-color: #333;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 28pt;
    font-weight: bold;
}

.logo span {
    color: lightgreen;
}

.logo .bay {
    color: white;
}

.search-bar {
    width: 60%;
    margin: 0 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 18pt;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18pt;
}

.nav-icons a {
    color: white;
    text-decoration: none;
    font-size: 18pt;
}

.nav-icons a:hover {
    text-decoration: underline;
}

.main-content {
    text-align: center;
    margin-top: 100px;
}

.main-content p {
    font-size: 22pt;
    margin: 20px 0;
}

.main-content button {
    margin: 15px;
    padding: 16px 60px;
    font-size: 20pt;
    border: none;
    border-radius: 8px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
}

.card {
    background-color: #d3d3d3;
    padding: 70px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card h2 {
    margin-bottom: 10px;
    font-size: 28px;
    color: #333;
}

.card p {
    font-size: 18px;
    color: #222;
}

/* register.jsp css */
.title {
    color: lightgreen;
}
.register_parent_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    width:600px;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #777;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    height: auto;
}
.title, .content {
    /*margin-bottom: 10px; */
    text-align: center;
}
.content label, input {
    margin-bottom: 15px;
}
.content input {
    width: 300px;
}
.register_button {
    margin-top: 30px;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    background-color: lightgreen;
    font-weight: bold;
    color: #555;
}
.register_button:hover {
    background-color: #333;
}
.register_parent_container label {
    font-size: 18px;
}

/*revise index.jsp*/
.nav-icons {
    font-size: 5px;
}

.login_parent_container {
    background-color: #777;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    padding: 40px;
    width: 500px;
    margin: 100px auto;
    color: white;
}

.login_button {
    background-color: lightgreen !important;
    color: #333 !important;
    padding: 12px 24px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}



